@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap");
body {
  background: white;
  margin: 0;
  margin-right: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

div.container {
  margin-left: 0;
  margin-top: 0;
}

h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 71px;
  color: #2F4858;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
  color: #2F4858;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #2F4858;
  text-transform: uppercase;
}

.text1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #2F4858;
  text-align: center;
}

.text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2F4858;
  text-align: center;
}

.active {
  -webkit-text-decoration: underline solid #FFA800 15%;
          text-decoration: underline solid #FFA800 15%;
}

.language {
  position: relative;
  display: inline-block;
  margin-top: 13px;
}

.language a {
  cursor: pointer;
}

.language .dropdown-content {
  display: none;
  position: absolute;
}

.language .dropdown-content:hover {
  display: block;
}

.language .dropdown-content a {
  color: black;
  padding: 5px 13px;
  text-decoration: none;
  display: block;
}

.language:hover .dropdown-content {
  display: block;
}

.ideja-text {
  text-align: center;
}

.navbar {
  background: white;
}

.navbar nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .container {
  display: inline-block;
  width: 100%;
}

.navbar .container .logo img {
  margin-right: 0;
  margin-left: 20px;
  width: 120px;
  float: left;
}

.navbar .container .mobile-menu {
  margin: 30px 30px;
  width: 20px;
  float: right;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: black;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

nav li a:hover {
  -webkit-text-decoration: underline solid #FFA800 15%;
          text-decoration: underline solid #FFA800 15%;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.ripped {
  position: absolute;
  top: 75px;
  width: 100%;
  z-index: 2;
}

.video video {
  z-index: -10;
}

.text {
  text-align: center;
  padding: 80px 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #2F4858;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery div img {
  width: 100%;
  height: auto;
  margin-bottom: -5px;
}

.gallery .image {
  width: 25%;
  height: auto;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  z-index: -3;
}

.ripped-2 {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.ripped-3 {
  width: 100%;
  z-index: -1;
  position: relative;
  top: -15px;
}

.buttons {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttons .btn-1 {
  margin-bottom: 60px;
}

.buttons .btn-1 h3 {
  margin-bottom: 35px;
  margin-top: 5px;
}

.buttons .btn-2 h3 {
  margin-bottom: 35px;
}

.buttons div {
  text-align: center;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

.buttons div h3 {
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.buttons div button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 13px 55px;
  background-color: #FFA800;
  border: none;
  border-radius: 30px;
}

.form {
  margin-top: 150px;
  text-align: center;
  margin: auto;
}

.form h2 {
  font-family: "Oswald";
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 125px;
  color: #2F4858;
}

.form input {
  width: 100%;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  padding: 10px;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 6px;
  border: none;
  margin: 10px;
  color: #2F4858;
}

.form ::-webkit-input-placeholder {
  color: #2F4858;
  opacity: 1;
}

.form :-ms-input-placeholder {
  color: #2F4858;
  opacity: 1;
}

.form ::-ms-input-placeholder {
  color: #2F4858;
  opacity: 1;
}

.form ::placeholder {
  color: #2F4858;
  opacity: 1;
}

.form :-ms-input-placeholder {
  color: #2F4858;
}

.form ::-ms-input-placeholder {
  color: #2F4858;
}

.form #question {
  padding-bottom: 200px;
}

.form input#checkbox {
  width: 15px;
  float: left;
  margin-right: 20px;
  margin-bottom: 80px;
}

.form .check {
  text-align: left;
  font-size: 15px;
}

.form .check label {
  color: #2F4858;
}

.form p {
  margin: 10px;
  font-weight: 400;
  text-align: left;
  font-size: 15px;
  color: #2F4858;
}

.form .submit {
  background-color: #FFA800;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 140px;
  margin-top: 50px;
  color: #FFFFFF;
  border-radius: 30px;
}

.atbalst {
  background-image: url("../img/Yellow-bg.png");
  margin-top: 9.375em;
  padding-top: 40px;
  height: 20em;
}

.atbalst .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3.5rem auto 11rem;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.atbalst .logos img {
  width: 20%;
  max-width: 40%;
  height: auto;
  max-height: 100%;
  vertical-align: middle;
  margin: 0 2.3rem 0 2.4rem;
}

.atbalst .logos .linearis {
  min-width: 6%;
  width: 6%;
}

.atbalst h3 {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #2F4858;
}

.cookie-container {
  width: 820px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2F4858;
  color: #ffffff;
  padding: 30px 46px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cookie-container p {
  color: #ffffff;
  width: 450px;
}

.cookie-container p a {
  font-weight: bold;
  color: #ffffff;
}

.cookie-container .cookie-button,
.cookie-container .cookie-button2 {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 30px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.cookie-container .cookie-button {
  background-color: #FFA800;
  color: #ffffff;
}

.cookie-container.cookie-active {
  bottom: 0;
}

.footer-color {
  background-color: white;
}

footer {
  background-image: url("../img/grey-bg.png");
  background-color: #ffcb66;
  background-size: 100%;
  background-repeat: round;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  color: white;
  padding: 3.875em 1.25em 0 1.25em;
  z-index: 5;
}

footer .footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-1 .golden-logo img {
  width: 100px;
  margin-bottom: 1.5em;
}

footer .footer-1 ul li {
  margin-bottom: 20px;
}

footer .footer-1 ul li span {
  font-size: 24px;
  line-height: 22px;
}

footer .footer-1 .contacts {
  text-align: left;
  font-size: 12px;
  line-height: 15px;
}

footer .footer-1 .contacts .media {
  margin-top: 50px;
}

footer .footer-1 .contacts .media img {
  margin-right: 29px;
  margin-bottom: 30px;
}

footer .footer-1 .contacts .rekvizīti {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

footer .footer-1 .links li {
  display: none;
  margin-bottom: 21px;
  font-size: 18px;
}

footer .footer-1 .links li a {
  color: white;
  list-style-type: none;
}

footer .footer-1 .links li a:hover {
  font-weight: bold;
}

footer .footer-1 .bank {
  display: none;
}

footer .footer-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 30px;
}

footer .footer-2 .p-1 {
  float: left;
  margin-top: 0;
}

footer .footer-2 .p-2 {
  float: right;
  margin-top: 0;
}

.error_404 {
  background-color: #ffcb66;
  padding: 175px;
  text-align: center;
}

.error_404 h1 {
  margin: 0;
  color: white;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 142px;
  text-align: center;
}

.error_404 h3 {
  text-transform: none;
  font-weight: bold;
}

.error_404 p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.error_404 button {
  color: #ffcb66;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;
  padding: 15px 50px;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.ideja-text h1 {
  margin: 0;
}

.ideja-text p.text2.text {
  width: 60%;
  margin: auto;
  padding: 60px 20px;
}

.juris {
  position: relative;
  text-align: center;
}

.juris p {
  position: absolute;
  bottom: 10%;
  left: 20%;
  font-weight: bold;
  color: white;
  width: 60%;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.5em;
}

.juris .ripped-4 {
  width: 100%;
  z-index: 2;
  position: absolute;
}

.juris .juris-img {
  max-width: 100%;
  height: auto;
  z-index: -3;
}

.juris .ripped-5 {
  width: 100%;
  z-index: 2;
  position: relative;
  top: -15px;
}

.slideshow-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: left;
  width: 50%;
  color: #2F4858;
}

.mySlides h3 {
  text-transform: none;
}

.mySlides .italics {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 0;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 90%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-size: 25px;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  left: 28%;
  border-radius: 3px 0 0 3px;
}

.prev {
  position: absolute;
  left: 24%;
}

.next:hover,
.prev:hover {
  font-weight: bold;
}

@media only screen and (min-width: 782px) {
  .juris p {
    font-size: 1.5em;
    bottom: 20%;
  }
  .juris .ripped-5 {
    top: -30px;
  }
  .ideja-text {
    margin-bottom: 95px;
  }
  .ideja-text h1 {
    margin-top: 110px;
  }
  .ideja-text p.text2.text {
    width: 45%;
  }
}

.section-1 h1 {
  margin-top: 110px;
  margin-bottom: 50px;
}

.piesaki-sapni {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
}

.piesaki-sapni .sapnis {
  text-align: center;
  width: 70%;
}

.piesaki-sapni .sapnis p {
  color: #2F4858;
}

.piesaki-sapni .sapnis button.text2 {
  cursor: pointer;
  padding: 13px 55px;
  background-color: #FFA800;
  border: none;
  border-radius: 30px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-2 input.submit {
  margin-bottom: 175px;
}

@media only screen and (min-width: 782px) {
  .piesaki-sapni {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .piesaki-sapni .sapnis {
    padding: 100px;
    padding-bottom: 70px;
  }
  .piesaki-sapni .sapnis p {
    height: 200px;
  }
  .form-2 h2 {
    margin-top: 50px;
  }
}

.uznemejiem p {
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 60px;
}

.uznemejiem h1 {
  margin-top: 110px;
}

.video video {
  height: 100%;
  width: 100%;
}

.sapnu-banka {
  margin-top: 110px;
  margin-bottom: 60px;
}

.merkis h2 {
  margin-top: 150px;
  margin-bottom: 80px;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 4em 1.5em;
  text-align: center;
}

.feature img {
  width: 35%;
  max-height: 100%;
}

.feature .content {
  margin: 1.5em 0;
}

.misija h2 {
  margin-top: 160px;
  margin-bottom: 50px;
}

.ainava {
  background-image: url("../img/y-bg.png");
  background-repeat: no-repeat;
  margin-bottom: 50px;
  padding: 50px;
  z-index: 2;
  text-align: center;
}

.ainava img {
  margin: 1.875em;
}

.ainava p {
  color: white;
  font-size: 18px;
}

.sapnus-atlasis h2 {
  margin-top: 200px;
}

.atlais {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.75em;
  margin-bottom: 3.75em;
  margin-left: 3em;
  margin-right: 3em;
  text-align: center;
}

footer.footer-color {
  margin-top: 120px;
}

@media only screen and (min-width: 782px) {
  .feature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .feature img {
    margin-left: 20em;
    margin-right: 3.875em;
    width: 10%;
  }
  .feature .content {
    width: 40%;
  }
  .feature .content p {
    text-align: left;
  }
  .feature.left {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .feature.left img {
    margin-left: 3.875em;
    margin-right: 20em;
  }
  .feature.left .content p {
    text-align: right;
  }
  .ainava {
    margin-bottom: 150px;
    padding-bottom: 60px;
    margin-top: 150px;
  }
  .ainava p {
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
    font-size: 20px;
  }
  .ainava .ainava-text {
    margin-bottom: 20px;
  }
  .atlais {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .atlais .atlasis {
    width: 30%;
    margin: 0 6em;
  }
  .btn-gap {
    margin-bottom: 9.375em;
  }
}

.infoWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 100%;
}

.infoWindow img {
  width: 120px;
  height: 100%;
  margin-right: 80px;
}

.infoWindow h3 {
  text-transform: none;
  text-align: right;
  opacity: 100%;
}

.infoWindow p {
  text-align: right;
}

div.gm-style-iw-t::after {
  display: none;
}

div.gm-style-iw.gm-style-iw-c {
  background-color: rgba(255, 168, 0, 0.5);
  border-radius: 20px;
}

#map-canvas .gm-style > .gmnoprint > .gmnoprint {
  background-color: rgba(255, 168, 0, 0.5);
}

button.gm-control-active {
  background-color: rgba(255, 168, 0, 0.5);
  border-radius: 15px;
}

#map .gm-style .gm-style-mtc,
#map .gm-style .gm-svpc,
.gm-fullscreen-control {
  display: none !important;
}

#map .gm-style .gm-bundled-control .gmnoprint {
  margin-top: -190px !important;
  left: -69px !important;
}

#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] {
  width: auto !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] .gm-control-active {
  margin-top: 21px !important;
  width: 56.82px !important;
  height: 57.14px !important;
  background: rgba(255, 168, 0, 0.5) !important;
  border-radius: 14px;
}

#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] .gm-control-active[aria-label="Zoom in"] {
  margin-bottom: 20px !important;
}

#map .gm-style .gm-bundled-control .gmnoprint div[draggable=false] div {
  display: none;
}

#map,
#map-2,
#map-3 {
  height: 600px;
  width: 100%;
  z-index: 20;
}

.hide {
  display: none;
}

.sapnus_atbalsta p {
  width: 60%;
  margin: auto;
}

.container_atbalsta {
  width: 70%;
  margin: auto;
}

.atbalsta {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 30px;
  display: none;
}

.atbalsta img {
  max-width: 120px;
}

.atbalsta h4 {
  text-align: left;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.atbalsta p {
  text-align: right;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.show_atbalsta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ececec;
  min-height: 42px;
  min-width: 288px;
  color: black;
  padding: 10px 60px 10px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0.33rem;
  text-align: left;
  z-index: 25;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #9e9e9e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 30px;
}

.dropdown p {
  color: #FFA800;
}

.dropdown img {
  position: relative;
  right: 40px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 288px;
  z-index: 25;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

#riga,
#edinasana {
  border-top: 1px solid black;
}

footer.footer-color.map-footer {
  margin-top: -20px;
  z-index: 30;
}

.title p {
  margin: 80px 20px;
}

#grid,
#more {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 14px;
  margin: 1.25em;
  z-index: 0;
}

#more {
  display: none;
}

.cell {
  background-image: url(../img/color-1845394.png);
  width: 134px;
  height: 134px;
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.cell:hover {
  border: 1px solid #FFA800;
}

.cell h3 {
  color: white;
  text-transform: none;
  text-align: center;
  padding: 10px 10px;
  font-size: 1.3em;
  line-height: 20px;
}

.cell p {
  position: absolute;
  font-size: 2rem;
  font-family: "Oswald";
  top: 47%;
  left: 75%;
}

.cell img {
  width: 100%;
  height: 100%;
  z-index: -2;
  opacity: 0.4;
}

.video1,
.video2,
.video3,
.video4 {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10000;
  background: rgba(47, 72, 88, 0.9);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video1 h3,
.video2 h3,
.video3 h3,
.video4 h3 {
  display: inline-block;
  text-transform: none;
  color: white;
}

.video1 .close,
.video2 .close,
.video3 .close,
.video4 .close {
  position: absolute;
  top: 250px;
  right: 90px;
  cursor: pointer;
  -webkit-filter: invert(1);
          filter: invert(1);
  max-width: 32px;
}

.video1 video,
.video2 video,
.video3 video,
.video4 video {
  position: relative;
  max-width: 900px;
  outline: none;
}

@media (max-width: 991px) {
  .video1 .video video,
  .video2 .video video,
  .video3 .video video,
  .video4 .video video {
    max-width: 90%;
  }
}

.video_active {
  visibility: visible;
  opacity: 1;
}

.stories {
  margin-bottom: 120px;
  text-align: center;
}

.stories button {
  cursor: pointer;
  padding: 13px 55px;
  background-color: #FFA800;
  border: none;
  border-radius: 30px;
  color: white;
  margin: 50px;
}

.inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.inner-container .gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18.63%, rgba(47, 72, 88, 0.8)), color-stop(49.21%, rgba(47, 72, 88, 0)));
  background-image: linear-gradient(180deg, rgba(47, 72, 88, 0.8) 18.63%, rgba(47, 72, 88, 0) 49.21%);
  z-index: 2;
}

.inner-container img {
  z-index: -1;
}

.teksts {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.teksts span {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.teksts p {
  margin: 0;
  font-family: "Montserrat";
}

@media only screen and (min-width: 600px) {
  #grid,
  #more {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
  #more {
    display: none;
  }
}

@media only screen and (min-width: 782px) {
  #grid,
  #more {
    -ms-grid-columns: auto auto auto auto auto auto;
        grid-template-columns: auto auto auto auto auto auto;
    margin-left: 168px;
    margin-right: 168px;
  }
  #more {
    display: -ms-grid;
    display: grid;
  }
  .stories {
    margin-bottom: 120px;
  }
  .cell {
    width: 160px;
    height: 160px;
  }
  .stories button {
    display: none;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-right: 110px;
    margin-left: 110px;
    margin-top: 50px;
  }
  .inner-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .inner-container .teksts {
    top: 85%;
    width: 85%;
    margin-right: 40px;
  }
  .cell p {
    top: 55%;
    right: 20%;
  }
}

@media only screen and (min-width: 782px) {
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar .container .logo img {
    width: 160px;
  }
  .navbar .container a.logo {
    margin-left: 40px;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .nav-bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0;
  }
  .navbar nav a img.logo-2 {
    display: none;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    padding: 0.75em;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .navbar nav a.logo {
    margin: 0;
    padding: 0;
    z-index: 30;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li:hover {
    color: white;
  }
  .ripped {
    top: 7.5%;
  }
  .text {
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    width: 50%;
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .gallery .image {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }
  .ripped-3 {
    top: -28px;
  }
  .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 21px;
    line-height: 36px;
    margin-top: 93px;
  }
  .buttons div.btn-1 {
    margin-bottom: 0;
    padding-left: 160px;
  }
  .buttons div.btn-1 h3 {
    margin-top: 20px;
    margin-bottom: 45px;
  }
  .buttons div.btn-2 {
    padding-right: 150px;
  }
  .buttons div.btn-2 h3 {
    margin-bottom: 45px;
  }
  .form {
    display: block;
    text-align: center;
    width: 649px;
    margin: auto;
  }
  .form h2 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 155px;
    margin-bottom: 50px;
  }
  .form input {
    width: 612px;
  }
  .form div {
    width: 649px;
  }
  .form #user-email {
    float: right;
    width: 45%;
  }
  .form #name {
    float: left;
    width: 41%;
  }
  .form .submit {
    width: 182px;
    padding: 20px 0px;
    font-size: 25px;
  }
  .form .first-row {
    width: 612px;
    text-align: center;
  }
  .form input#checkbox {
    width: 15px;
    float: left;
    margin-right: 20px;
  }
  .form .check {
    text-align: left;
    font-size: 15px;
  }
  .form .submit {
    margin-top: 50px;
  }
  .atbalst {
    margin-top: 9.375em;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 25em;
  }
  .atbalst .logos {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 200px;
  }
  .atbalst .logos img {
    max-width: 17.5%;
  }
  footer {
    padding: 3.875em 3.875em 0 3.875em;
  }
  footer .footer-1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-1 .golden-logo img {
    width: 182px;
  }
  footer .footer-1 .contacts {
    text-align: right;
    font-size: 18px;
    line-height: 22px;
  }
  footer .footer-1 .contacts .media img {
    margin-right: 0;
    margin-left: 29px;
  }
  footer .footer-1 .contacts .rekvizīti {
    display: none;
  }
  footer .footer-1 .links li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-1 .bank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer-2 {
    display: block;
    margin-bottom: 20px;
    font-weight: none;
  }
  footer .footer-2 .p-1 span {
    display: block;
  }
}

@media only screen and (min-width: 1366px) {
  .container {
    width: 1366px;
    margin: 0 auto;
  }
  .wrapper {
    margin: auto;
    width: 1366px;
  }
  .wrapper .ripped,
  .wrapper .ripped-2 {
    width: 1366px;
  }
  .wrapper .video img {
    width: 1366px;
  }
  .wrapper .video .video-btn {
    width: 86px;
  }
}
/*# sourceMappingURL=style.css.map */