
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap');

body {
    background:white;
    margin: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display:flex;
}

h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;

    color: #2F4858;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;

    color: #2F4858;
    text-transform: uppercase;
    text-align: center;
    
}

h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #2F4858;
    text-transform: uppercase;
}

.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #2F4858;
    text-align: center;
}

.text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #2F4858;
    text-align: center;
}

.ideja-text {
    text-align: center;
}

.navbar {
    background: white;
    nav {
        display: none;
        align-items: center;
        
    }

    .container {
        display: inline-block;
        width: 100%;
        .logo img{
            margin-right:0;
            margin-left: 20px;
            width: 120px;
            float: left;
         }
         .mobile-menu {
             margin: 30px 30px;
             width: 20px;
             float: right;
         }
    }
    

    .mobile-menu {
        cursor:pointer;
    }
    
}

a {
    color: #444444;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    padding: 1em; 

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            color: black;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: center;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            &:hover {
                font-weight: bold;
            }
            
        }
    }

}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}



.ripped {
    position: absolute;
    top:50px;
    width:100%;
    z-index: -1;
}

.video {
    display: flex;
    justify-content: center;
    position: relative;
    top:0;
    img {
        width: 100%;
        z-index: -2;
    }
    .video-btn{
        position: absolute;
        width: 50px;
        top: 40%;
        text-align: center;
    }
}

.text {
    text-align: center;
    padding: 80px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #2F4858;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div img{
        width: 100%;
        height: auto;
    }

    .image{
        width: 25%;
        height: auto;
        flex:50%;
        z-index: -3;
    }
    

}
.ripped-2{
    width: 100%;
    z-index: -1;
    position: absolute;
    
}
.ripped-3{
    width: 100%;
    z-index: -1;
    position: relative;
    top: -15px;
}

.buttons{
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    .btn-1{
        margin-bottom: 60px;
        h3{
            margin-bottom:35px;
            margin-top:5px;
        }
    }
    .btn-2{
        h3{
            margin-bottom: 35px;
        }
    }

    div{
        text-align: center;
        flex:50%;
        

        h3{
          font-family: "Oswald"; 
          font-weight: 500;
          text-transform: uppercase;
          
          margin-bottom: 50px;
        }

        button{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: #FFFFFF;

            padding:13px 55px ;
            background-color: #FFA800;
            border: none;
            border-radius: 30px;
        }
    }
}

.form {
    margin-top: 150px;
    text-align: center;
    margin:auto;
    
    h2{
        font-family: "Oswald";
        font-weight: 500;

        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        margin-top:125px;
    }

    input{
        width: 100%;
        padding: 0;
        font-size:18px;
        font-weight: 400;
        text-align: left;
        padding: 10px;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
        border:none;
        margin: 10px;

        input#checkbox{
            width: 20px;
        }
    }
    #question {
        padding-bottom: 200px;
    }
    input#checkbox{
        width: 15px;
        float: left;
        margin-right: 20px;
    }
    .check{
        text-align: left;
        font-size: 15px;
    }

    p{
        margin: 10px;
        font-weight: 400;
        text-align: left;
        font-size: 15px;
    }
    
    .submit{
        background-color: #FFA800;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        width: 140px;
        margin-top: 50px;

        color: #FFFFFF;  
        border-radius: 30px;   
    }
    
}



.atbalst{
    background-image: url("../img/Yellow-bg.png");
    margin-top: 9.375em;
    padding-top: 40px;
    height: 20em;
    .logos{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3.5rem auto 11rem;
        width: 100%;
        justify-content: space-around;
        .linearis{
            min-width: 6%;
            width: 6%;
        }
        img{
            width: 15%;
            max-width: 40%;
            height: auto;
            max-height: 100%;
            vertical-align: middle;
            margin: 0 2.3rem 0 2.4rem;


        }  
    }
    h3{
        text-transform: uppercase;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;

        color: #2F4858;
    }
}




//footer
.footer-color{background-color: white;}
footer{
    background-image: url("../img/grey-bg.png");
    background-color: #ffcb66;
    background-size: 100%;
    background-repeat: round;
    display: grid;
    column-gap: 1rem;
    color: white;
    padding: 3.875em 1.25em 0 1.25em;
    z-index: 5;
    
    .footer-1{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        .golden-logo img{
            width: 100px;
            margin-bottom: 1.5em;
        }
        ul li {
            margin-bottom:20px;
        span{ 
            font-size: 24px;
            line-height: 22px;
        }}
        .contacts{
            text-align: left;
            font-size: 12px;
            line-height: 15px;

            .media{
                margin-top:50px;
                img{
                    margin-right:29px;
                    margin-bottom: 30px;
                }
            }
            .rekvizīti{
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
            }
        }
        
        .links li {
            display: none;
            margin-bottom:21px;
            font-size: 18px;
            a{
            color: white;
            list-style-type: none;

            &:hover{
                font-weight: bold;
            }
        }
        }.bank{display:none;}
    }

    

    .footer-2{
        display:flex;
        flex-direction: column;
        margin-top:0;
        font-size: 11px;
        line-height: 13px; 
        margin-bottom: 30px;
        .p-1{
            float: left;
            margin-top:0;
             
        }
        .p-2{
            float: right;
            margin-top:0;
            
        }

    }
}
//ideja lapas stili
.ideja-text {
    h1 {
        margin: 0;
    }

    p.text2.text{
        width: 60%;
        margin: auto;
        padding: 60px 20px;
    }
}

.juris{
    position: relative;
    text-align: center;

    p{
        position: absolute;
        top: 63%;
        left:20%;
        font-weight: bold;
        color: white;
        width: 60%;
        
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }
    .ripped-4{
        width: 100%;
        z-index: 2;
        position: absolute;
    }
    .juris-img{
        width: 100%;
        z-index: -3;  
    }
    .ripped-5 {
        width: 100%;
        z-index: 2;
        position: relative;
        top: -15px;
    }
}
.slideshow {
    .slide{
        margin-left: auto;
        margin-right: auto;
        p{text-align: left;}
    }
    width: 50%;
    margin: 150px;
    position: relative;
    text-align: left;
    h3{
        text-transform: none;
    }
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 110%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-size: 35px;
        border-radius: 0 3px 3px 0;
        user-select: none;

    }
    .next {
        position: absolute;
        right: 225px;
    }
    h3 {margin: 0;}
    p {
        margin: 10px;
    }
    .text-italics {
        font-style: italic;
        margin: 0;
    }
}
@media only screen and (min-width: 782px) {
    .juris {
        .ripped-5{
            top: -30px;
        }
    }
    .ideja-text{
        h1 {margin-top: 110px;}
        p.text2.text {width: 45%;}
        margin-bottom: 95px;
        }
    }


//stili piesaki sapni
.section-1 h1 {
    margin-top: 110px;
    margin-bottom: 50px;
}
.piesaki-sapni{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0px;
    .sapnis {
        text-align: center;
        width: 40%;
    }
    button {
        cursor: pointer;
        padding:13px 55px ;
        background-color: #FFA800;
        border: none;
        border-radius: 30px;
        color: white;
        margin: 50px;
    }
}

.form-2 input.submit {
    margin-bottom: 175px;
}

@media only screen and (min-width: 782px) {
    .piesaki-sapni {
        flex-direction: row;
        .sapnis{
            padding: 100px;
            padding-bottom: 70px;
            p {height: 200px;}
        }
    }
    .form-2 h2{
        margin-top: 50px;
    }
}
//stili lapai uzņēmējiem
.uznemejiem {
    p{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    }
    h1 {
        margin-top: 110px;
    }
}



//stili lapai sapņu banka
.sapnu-banka{
    margin-top: 110px;
    margin-bottom: 60px;
}
.merkis {
    h2{
        margin-top: 150px;
        margin-bottom: 80px;
    }
}
.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 1.5em;
    text-align: center;

    img{
        width: 12%;
        max-height: 100%;
    }
    .content {
        margin: 1.5em 0;
    }
}
.misija {
    h2{
        margin-top:160px;
        margin-bottom:50px;
    }
}

.ainava {
    background-image: url("../img/y-bg.png");
    margin-bottom: 50px;
    padding: 50px;
    z-index: 2;
    text-align: center;
    img {
        margin: 1.875em;
    }
    p {
        color: white;
    }
}
.sapnus-atlasis{
    h2{
        margin-top: 200px;
    }
}
.atlais {
    display: flex;
    flex-direction: column;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
    text-align: center;

    
}

@media only screen and (min-width: 782px) {
    .feature {
        flex-direction: row;

        img{
            margin-left: 20em;
            margin-right: 3.875em;
            
        }
        .content {
            width: 40%;
            p{text-align: left;}
        }
    }
    .feature.left {
        flex-direction: row-reverse;
        img{
            margin-left: 3.875em;
            margin-right: 20em;
        }
        .content p{
            text-align: right;
        }
    }

    .ainava {
        margin-bottom: 150px;
        padding-bottom: 60px;
        margin-top:150px;
        p {
            width: 60%;
            margin: auto;
            margin-bottom: 40px;
        }
        .ainava-text{
            margin-bottom: 10px;
        }
    }

    .atlais{ 
        flex-direction: row;
        text-align: center;
        justify-content: center;

        .atlasis{
            width: 30%;
            margin: 0 6em;
        }
    }
    .btn-gap {
        margin-bottom:9.375em;
    }
}

//stili lapai 99 iedvesmas stāsti
.title p{
    margin: 80px 20px;
}
#grid,
#more {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 14px;
    margin: 1.25em;
}

#more {
    display: none;
}

.cell {
    background-image: url(../img/color-1845394.png);
    width: 134px;
    height: 134px;
    color: white;
    position: relative;
    p{
        position: absolute;
        font-size: 2rem;
        font-family:"Oswald";
        top: 47%;
        left: 75%;
        
    }
}
.stories{
    margin-bottom: 120px;
    text-align: center;
    button {
        cursor: pointer;
        padding:13px 55px ;
        background-color: #FFA800;
        border: none;
        border-radius: 30px;
        color: white;
        margin: 50px;
    }
}
.inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    .gradient {
        background-image: linear-gradient(180deg, rgba(47, 72, 88, .8) 18.63%, 
        rgba(47, 72, 88, 0) 49.21%);
        z-index: 2;
        
    }
    img{
        z-index: -1;
    }
}
.teksts{
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    span{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
    p{
        margin: 0;
        font-family: "Montserrat";
    }
}

@media only screen and (min-width: 600px){
    #grid,
    #more{
        grid-template-columns: auto auto auto auto;
    }
    #more{display: none};
}
@media only screen and (min-width: 782px) {
    #grid,
    #more{
        grid-template-columns: auto auto auto auto auto auto;
        margin-left: 168px;
        margin-right: 168px;
    }
    #more{display: grid;}
    .stories{
        margin-bottom: 120px;
    }
    .cell{
        width: 160px;
        height: 160px;
    }
    .stories button {
        display: none;
    }
    .inner-container {
        flex-direction: row;
    }
    .cell p {
        top: 55%;
        right: 20%;
    }
}

//stili desktop galvenajai lapai
@media only screen and (min-width: 782px) {
     .navbar .container{
         display: flex;
         .logo img{
             width: 160px;
         }
         a.logo{
             margin-left:40px;
         }
     }

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .nav-bar .container {
        display: flex;
        grid-template-columns: 180px auto; 
    }
 
    .navbar nav {
        display: flex;
        justify-content: center;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        align-items: center;
        margin: 20px 0;
        a img.logo-2{display: none;}
        ul {
            display: flex;
        }

        a {
            color: black;
            padding: 0.75em;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        
        }
        a.logo{margin:0;
        padding:0;}

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
        li:hover {
                color: white;
        }
    }
.ripped{top: 85px;}
.video .video-btn{width: 100px;}
.text{
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    width:50%;
    margin-top: 55px;
    margin-bottom: 55px;
}
.gallery .image{flex:25%;}
.ripped-3{top:-28px;}
.buttons{
    flex-direction: row;
    font-size: 21px;
    line-height: 36px;
    margin-top: 93px;

    div.btn-1{
        margin-bottom: 0; 
        padding-left: 160px;
        h3{
            margin-top:20px;
            margin-bottom: 45px;
        }
        
    }
    div.btn-2{
        padding-right: 150px;
        h3{
            margin-bottom: 45px;
        }
    }
}
.form{
    display: block;
    text-align: center;
    width: 649px;
    margin:auto;
    h2{
        font-size: 30px;
        line-height: 36px;
        margin-top:155px;
        margin-bottom: 50px;
    }
    input{
        width: 612px;
    }
    div{width: 649px;}
    #user-email{
        float: right;
        width: 45%;
    }
    #name{
        float: left;
        width: 41%;
    }
    .submit{
        width: 182px;
        padding: 20px 0px;
        font-size: 25px;
    }
    .first-row{
        width: 612px;
        text-align: center;
    }
    input#checkbox{
        width: 15px;
        float: left;
        margin-right: 20px;
    }
    .check{
        text-align: left;
        font-size: 15px;
    }
    
    .submit{
        margin-top: 50px;
    }   
}
.atbalst{
    margin-top: 9.375em;
    flex-wrap: nowrap;
    justify-content: center;
    height: 25em;
    .logos {
        align-items: center;
        height: 200px;
        img{
            max-width: 17.5%;
        }
    }
}
footer{
    padding: 3.875em 3.875em 0 3.875em;
    .footer-1{
        flex-direction: row;
        .golden-logo img{
            width: 182px;
        }
        .contacts{
            text-align:right;
            font-size: 18px;
            line-height: 22px;
            .media{
                img{
                    margin-right:0;
                    margin-left:29px;
                }
            }
        .rekvizīti{
            display:none;
        }
        }
        .links li{
            display: flex;
        }
        .bank{
            display: flex;
        }
    }
    .footer-2{
        display: block;
        margin-bottom:20px;
        font-weight: none;
    }
    
}
}

@media only screen and (min-width: 1366px) {
    .container {
        width: 1366px;
        margin: 0 auto;
    }
    .wrapper {
        margin: auto;
        width: 1366px;
        .ripped,
        .ripped-2{
            width: 1366px;
        }
        .video img {width: 1366px;}
        .video .video-btn{width: 86px;}
    }
}