
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Oswald:wght@500&display=swap');

body {
    background:white;
    margin: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

div.container{
    margin-left: 0;
    margin-top: 0;
}

h1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 71px;

    color: #2F4858;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;

    color: #2F4858;
    text-transform: uppercase;
    text-align: center;
    
}

h3 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #2F4858;
    text-transform: uppercase;
}

.text1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #2F4858;
    text-align: center;
}

.text2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #2F4858;
    text-align: center;
}
.active {text-decoration: underline solid #FFA800 15%;}
.language{
    position: relative;
    display: inline-block;
    margin-top: 13px;
    a{
        cursor: pointer;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        &:hover{
            display: block;
        }
        a{
            color: black;
            padding: 5px 13px;
            text-decoration: none;
            display: block;
        }
        
    }
    &:hover .dropdown-content{
        display: block;
        
    }

}
.ideja-text {
    text-align: center;
}

.navbar {
    background: white;
    nav {
        display: none;
        align-items: center;
        
    }

    .container {
        display: inline-block;
        width: 100%;
        .logo img{
            margin-right:0;
            margin-left: 20px;
            width: 120px;
            float: left;
         }
         .mobile-menu {
             margin: 30px 30px;
             width: 20px;
             float: right;
         }
    }
    

    .mobile-menu {
        cursor:pointer;
    }
    
}

a {
    color: #444444;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 9999;
    width: 100%;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    padding: 1em; 

    ul.primary-nav {
        margin-top: 5em;
    }

    li {

        a {
            color: black;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: center;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            &:hover {
                text-decoration: underline solid #FFA800 15%;
            }
            
        }
    }

}

.mobile-menu-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}



.ripped {
    position: absolute;
    top:75px;
    width:100%;
    z-index: 2;
}

.video {
    video{
        
        z-index: -10;
    }
    
}

.text {
    text-align: center;
    padding: 80px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #2F4858;
}
.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div img{
        width: 100%;
        height: auto;
        margin-bottom: -5px;
    }

    .image{
        width: 25%;
        height: auto;
        flex:50%;
        z-index: -3;
    }
    

}
.ripped-2{
    width: 100%;
    z-index: -1;
    position: absolute;
    
}
.ripped-3{
    width: 100%;
    z-index: -1;
    position: relative;
    top: -15px;
}

.buttons{
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    .btn-1{
        margin-bottom: 60px;
        h3{
            margin-bottom:35px;
            margin-top:5px;
        }
    }
    .btn-2{
        h3{
            margin-bottom: 35px;
        }
    }

    div{
        text-align: center;
        flex:50%;
        

        h3{
          font-family: "Oswald"; 
          font-weight: 500;
          text-transform: uppercase;
          
          margin-bottom: 50px;
        }

        button{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;

            color: #FFFFFF;

            padding:13px 55px ;
            background-color: #FFA800;
            border: none;
            border-radius: 30px;
        }
    }
}

.form {
    margin-top: 150px;
    text-align: center;
    margin:auto;
    
    
    h2{
        font-family: "Oswald";
        font-weight: 500;

        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        margin-top:125px;
        color: #2F4858;
    }

    input{
        width: 100%;
        padding: 0;
        font-size:18px;
        font-weight: 400;
        text-align: left;
        padding: 10px;
        background: rgba(196, 196, 196, 0.4);
        border-radius: 6px;
        border:none;
        margin: 10px;
        color: #2F4858;
    }
    ::placeholder {
        color: #2F4858;
        opacity: 1;
    }
    :-ms-input-placeholder {
        color: #2F4858;
    }
    ::-ms-input-placeholder {
        color:#2F4858;
    }
    #question {
        padding-bottom: 200px;
        

    }
    input#checkbox{
        width: 15px;
        float: left;
        margin-right: 20px;
        margin-bottom: 80px;
        
    }
    .check{
        text-align: left;
        font-size: 15px;
        label{
            color:#2F4858;
        }
    }

    p{
        margin: 10px;
        font-weight: 400;
        text-align: left;
        font-size: 15px;
        color: #2F4858;
    }
    
    .submit{
        background-color: #FFA800;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        width: 140px;
        margin-top: 50px;

        color: #FFFFFF;  
        border-radius: 30px;   
    }
    
}



.atbalst{
    background-image: url("../img/Yellow-bg.png");
    margin-top: 9.375em;
    padding-top: 40px;
    height: 20em;
    .logos{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 3.5rem auto 11rem;
        width: 100%;
        justify-content: space-around;

        
        img{
            width: 20%;
            max-width: 40%;
            height: auto;
            max-height: 100%;
            vertical-align: middle;
            margin: 0 2.3rem 0 2.4rem;
        }  
        
        .linearis{
            min-width: 6%;
            width: 6%;
        }
    }
    h3{
        text-transform: uppercase;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;

        color: #2F4858;
    }
}




//footer
.footer-color{background-color: white;}
footer{
    background-image: url("../img/grey-bg.png");
    background-color: #ffcb66;
    background-size: 100%;
    background-repeat: round;
    display: grid;
    column-gap: 1rem;
    color: white;
    padding: 3.875em 1.25em 0 1.25em;
    z-index: 5;
    
    .footer-1{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        .golden-logo img{
            width: 100px;
            margin-bottom: 1.5em;
        }
        ul li {
            margin-bottom:20px;
        span{ 
            font-size: 24px;
            line-height: 22px;
        }}
        .contacts{
            text-align: left;
            font-size: 12px;
            line-height: 15px;

            .media{
                margin-top:50px;
                img{
                    margin-right:29px;
                    margin-bottom: 30px;
                }
            }
            .rekvizīti{
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
            }
        }
        
        .links li {
            display: none;
            margin-bottom:21px;
            font-size: 18px;
            a{
            color: white;
            list-style-type: none;

            &:hover{
                font-weight: bold;
            }
        }
        }.bank{display:none;}
    }

    

    .footer-2{
        display:flex;
        flex-direction: column;
        margin-top:0;
        font-size: 11px;
        line-height: 13px; 
        margin-bottom: 30px;
        .p-1{
            
            float: left;
            margin-top:0;
             
        }
        .p-2{
            float: right;
            margin-top:0;
            
        }

    }
}
//ideja lapas stili
.ideja-text {
    h1 {
        margin: 0;
    }

    p.text2.text{
        width: 60%;
        margin: auto;
        padding: 60px 20px;
    }
}

.juris{
    position: relative;
    text-align: center;

    p{
        position: absolute;
        bottom: 10%;
        left:20%;
        font-weight: bold;
        color: white;
        width: 60%;
        
        
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 1.125em;
        line-height: 1.5em;
        
    }
    .ripped-4{
        width: 100%;
        z-index: 2;
        position: absolute;
    }
    .juris-img{
        max-width:100%;
        height: auto;
        z-index: -3;  
    }
    .ripped-5 {
        width: 100%;
        z-index: 2;
        position: relative;
        top: -15px;
    }
}
.slideshow-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: left;
    width: 50%;
    color: #2F4858;
    h3{text-transform: none;}

    .italics{
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 0;
    }
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 90%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-size: 25px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    left: 28%;
    border-radius: 3px 0 0 3px;
  }
  .prev{
    position: absolute;
    left: 24%;
  
  }
  
  .next:hover, 
  .prev:hover {
    font-weight: bold;
  }
  
@media only screen and (min-width: 782px) {
    //stili lapai ideja
    .juris {
        p{
            font-size: 1.5em;
            bottom: 20%;
        }
        .ripped-5{
            top: -30px;
        }
    }
    .ideja-text{
        h1 {margin-top: 110px;}
        p.text2.text {width: 45%;}
        margin-bottom: 95px;
        }
    }


//stili piesaki sapni
.section-1 h1 {
    margin-top: 110px;
    margin-bottom: 50px;
}
.piesaki-sapni{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 0px;
    .sapnis {
        text-align: center;
        width: 70%;
        p{
            color: #2F4858;
        }
    
        button.text2 {
            cursor: pointer;
            padding:13px 55px ;
            background-color: #FFA800;
            border: none;
            border-radius: 30px;
            color: white;
            margin-top: 50px;
            margin-bottom: 50px;

            }   
    }
}

.form-2 input.submit {
    margin-bottom: 175px;
}

@media only screen and (min-width: 782px) {
    .piesaki-sapni {
        flex-direction: row;
        
        .sapnis{
            padding: 100px;
            padding-bottom: 70px;
            p {height: 200px;}
        }
    }
    .form-2 h2{
        margin-top: 50px;
    }
}
//stili lapai uzņēmējiem
.uznemejiem {
    p{
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 60px;
    }
    h1 {
        margin-top: 110px;
    }
}



//stili lapai sapņu banka
.video video {
    height: 100%;
    width: 100%;
}

.sapnu-banka{
    margin-top: 110px;
    margin-bottom: 60px;
}
.merkis {
    h2{
        margin-top: 150px;
        margin-bottom: 80px;
    }
}
.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 4em 1.5em;
    text-align: center;

    img{
        width: 35%;
        max-height: 100%;
    }
    .content {
        margin: 1.5em 0;
    }
}
.misija {
    h2{
        margin-top:160px;
        margin-bottom:50px;
    }
}

.ainava {
    background-image: url("../img/y-bg.png");
    background-repeat: no-repeat;
    margin-bottom: 50px;
    padding: 50px;
    z-index: 2;
    text-align: center;
    img {
        margin: 1.875em;
    }
    p {
        color: white;
        font-size: 18px;
    }
}
.sapnus-atlasis{
    h2{
        margin-top: 200px;
    }
}
.atlais {
    display: flex;
    flex-direction: column;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;

    
}

footer.footer-color{
    margin-top: 120px;
}

@media only screen and (min-width: 782px) {
    .feature {
        flex-direction: row;

        img{
            margin-left: 20em;
            margin-right: 3.875em;
            width: 10%;
            
        }
        .content {
            width: 40%;
            p{text-align: left;}
        }
    }
    .feature.left {
        flex-direction: row-reverse;
        img{
            margin-left: 3.875em;
            margin-right: 20em;
        }
        .content p{
            text-align: right;
        }
    }

    .ainava {
        margin-bottom: 150px;
        padding-bottom: 60px;
        margin-top:150px;
        p {
            width: 60%;
            margin: auto;
            margin-bottom: 40px;
            font-size: 20px;
        }
        .ainava-text{
            margin-bottom: 20px;
        }
    }

    .atlais{ 
        flex-direction: row;
        text-align: center;
        justify-content: center;

        .atlasis{
            width: 30%;
            margin: 0 6em;
        }
    }
    .btn-gap {
        margin-bottom:9.375em;
    }
}

//stili lapai sapņus atbalsta

.infoWindow{
    display: flex;
    align-items: center;
    opacity: 100%;
    img{
        width: 120px;
        height: 100%;
        margin-right: 80px;
        background-color: #FFA800;
    }

    h3{
        text-transform: none;
        text-align: right;
        opacity: 100%;
        }
    p{text-align: right;}
}

div.gm-style-iw-t::after {
    display: none;
}
div.gm-style-iw.gm-style-iw-c {
    background-color: #FFA800;
    opacity: 77%;
    border-radius: 20px;

}
div.gm-style-iw-d{
    background-color: #FFA800;
    
}
button.gm-ui-hover-effect{
    display: none;
}
div button.gm-control-active{
    background-color: #FFA800;
    color: #FFA800;
    border-radius: 15px;
}

#map,
#map-2,
#map-3{
  height: 600px;
  width: 100%;
  z-index: 20;
}
.hide{
  display: none;
}

.sapnus_atbalsta{
    p{
        width: 60%;
        margin: auto;
    }
}
.container_atbalsta{
    width: 70%;
    margin: auto;
  }
  .atbalsta{
    justify-content:space-between;
    align-items: left;
    margin: 30px;
    display: none;
    
  }
  .atbalsta img {
    max-width: 120px;
  }
  .atbalsta h4{
      text-align: left;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }
  .atbalsta p {
      text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .show_atbalsta {
    display: flex;
  }
  
/* Dropdown Button */
.dropbtn {
  background-color:#ececec;
  min-height: 42px;
  min-width: 288px;
  color: black;
  padding: 10px 60px 10px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0.33rem;
  text-align: left;
  z-index: 25;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color:#9e9e9e;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin: 30px;

  p{
      color:#FFA800;
  }
  img{
      position: relative;
      right: 40px;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 288px;
  z-index: 25;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
#riga,
#edinasana{
    border-top: 1px solid black;
}
footer.footer-color.map-footer {
    margin-top:-20px;
    z-index: 30;
}
//kartei
@media only screen and (min-width: 782px) {

}

//stili lapai 99 iedvesmas stāsti
.title p{
    margin: 80px 20px;
}
#grid,
#more {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 14px;
    margin: 1.25em;
    z-index: 0;
}

#more {
    display: none;
}

.cell {
    background-image: url(../img/color-1845394.png);
    width: 134px;
    height: 134px;
    color: white;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &:hover{
            border: 1px solid #FFA800;
        }
    h3{
        color: white;
        text-transform: none;
        text-align: center;
        padding:10px 10px;
        font-size: 1.3em;
        line-height: 20px;
    }
    p{
        position: absolute;
        font-size: 2rem;
        font-family:"Oswald";
        top: 47%;
        left: 75%;
        
    }
    img{
        width: 100%;
        height: 100%;
        z-index: -2;
        opacity: 0.4;
        
        
    }
    
}
.video1,
.video2,
.video3,
.video4{
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 10000;
        background: rgba(47, 72, 88, .9);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;

        h3{
            display: inline-block;
            text-transform: none;
            color: white;
            
        }
        .close{
            position: absolute;
            top: 250px;
            right: 90px;
            cursor: pointer;
            filter: invert(1);
            max-width: 32px;
        }

        video{
            position: relative;
            max-width: 900px;
            outline: none;
        }
        @media(max-width:991px){
            .video video {
                max-width: 90%;
            }
        }
    }
.video_active{
            visibility: visible;
            opacity: 1;
        }


.stories{
    margin-bottom: 120px;
    text-align: center;
    button {
        cursor: pointer;
        padding:13px 55px ;
        background-color: #FFA800;
        border: none;
        border-radius: 30px;
        color: white;
        margin: 50px;
    }
}

.inner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 25px;
    .gradient {
        background-image: linear-gradient(180deg, rgba(47, 72, 88, .8) 18.63%, 
        rgba(47, 72, 88, 0) 49.21%);
        z-index: 2;
        
    }
    img{
        z-index: -1;
    }
}
.teksts{
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-50%, -50%);
    span{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }
    p{
        margin: 0;
        font-family: "Montserrat";
    }
}

@media only screen and (min-width: 600px){
    #grid,
    #more{
        grid-template-columns: auto auto auto auto;
    }
    #more{display: none};
}
@media only screen and (min-width: 782px) {
    #grid,
    #more{
        grid-template-columns: auto auto auto auto auto auto;
        margin-left: 168px;
        margin-right: 168px;
    }
    #more{display: grid;}
    .stories{
        margin-bottom: 120px;
    }
    .cell{
        width: 160px;
        height: 160px;
    }
    .stories button {
        display: none;
    }
    .container {
        display: flex;
        justify-content: space-around;
        margin-right: 110px;
        margin-left: 110px;
        margin-top: 50px;

    }
    .inner-container {
        flex-direction: row;
        

        .teksts{
            top: 85%;
            width: 85%;
            margin-right: 40px;
        }
    }
    .cell p {
        top: 55%;
        right: 20%;
    }
}

//stili desktop galvenajai lapai
@media only screen and (min-width: 782px) {
     .navbar .container{
         display: flex;
         .logo img{
             width: 160px;
         }
         a.logo{
             margin-left:40px;
         }
     }

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .nav-bar .container {
        display: flex;
        grid-template-columns: 180px auto; 
    }
 
    .navbar nav {
        display: flex;
        justify-content: center;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
        align-items: center;
        margin: 20px 0;
        a img.logo-2{display: none;}
        ul {
            display: flex;
        }

        a {
            color: black;
            padding: 0.75em;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        
        }
        a.logo{margin:0;
        padding:0;
        z-index:30}

        ul.primary-nav {
            margin: 0;
        }

        li.current a {
            font-weight: bold;
        }
        li:hover {
                color: white;
        }
    }
.ripped{top: 7.5%;}

.text{
    font-size: 18px;
    line-height: 22px;
    margin: auto;
    width:50%;
    margin-top: 55px;
    margin-bottom: 55px;
}
.gallery .image{flex:25%;}
.ripped-3{top:-28px;}
.buttons{
    flex-direction: row;
    font-size: 21px;
    line-height: 36px;
    margin-top: 93px;

    div.btn-1{
        margin-bottom: 0; 
        padding-left: 160px;
        h3{
            margin-top:20px;
            margin-bottom: 45px;
        }
        
    }
    div.btn-2{
        padding-right: 150px;
        h3{
            margin-bottom: 45px;
        }
    }
}
.form{
    display: block;
    text-align: center;
    width: 649px;
    margin:auto;
    h2{
        font-size: 30px;
        line-height: 36px;
        margin-top:155px;
        margin-bottom: 50px;
    }
    input{
        width: 612px;
    }
    div{width: 649px;}
    #user-email{
        float: right;
        width: 45%;
    }
    #name{
        float: left;
        width: 41%;
    }
    .submit{
        width: 182px;
        padding: 20px 0px;
        font-size: 25px;
    }
    .first-row{
        width: 612px;
        text-align: center;
    }
    input#checkbox{
        width: 15px;
        float: left;
        margin-right: 20px;
        
    }
    .check{
        text-align: left;
        font-size: 15px;
    }
    
    .submit{
        margin-top: 50px;
    }   
}
.atbalst{
    margin-top: 9.375em;
    flex-wrap: nowrap;
    justify-content: center;
    height: 25em;
    .logos {
        align-items: center;
        height: 200px;
        img{
            max-width: 17.5%;
        }
    }
}
footer{
    padding: 3.875em 3.875em 0 3.875em;
    .footer-1{
        flex-direction: row;
        .golden-logo img{
            width: 182px;
        }
        .contacts{
            text-align:right;
            font-size: 18px;
            line-height: 22px;
            .media{
                img{
                    margin-right:0;
                    margin-left:29px;
                }
            }
        .rekvizīti{
            display:none;
        }
        }
        .links li{
            display: flex;
        }
        .bank{
            display: flex;
        }
    }
    .footer-2{
        display: block;
        margin-bottom:20px;
        font-weight: none;
        .p-1{
            span{
                display: block;
            }
        }
    }
    
}
}

@media only screen and (min-width: 1366px) {
    .container {
        width: 1366px;
        margin: 0 auto;
    }
    .wrapper {
        margin: auto;
        width: 1366px;
        .ripped,
        .ripped-2{
            width: 1366px;
        }
        .video img {width: 1366px;}
        .video .video-btn{width: 86px;}
    }
}